In [5]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [6]:
url = 'https://finance.naver.com/marketindex/interestDailyQuote.nhn?marketindexCd=IRR_CALL&page=548'

In [7]:
result = {'date':[], '종가':[], '전일대비':[], '등락율':[]}

# for page in range(91,552, 1):
for page in range(91,552, 1):
  url = 'https://finance.naver.com/marketindex/interestDailyQuote.nhn'
  query = {
    'marketindexCd':'IRR_CALL',
    'page' : page
  }
  resp = requests.get(url, query)
  soup = BeautifulSoup(resp.content, 'lxml')
  date_tag = soup.select('table.tbl_exchange.today tbody tr td.date')
  num_tag = soup.select('table.tbl_exchange.today tbody tr td.num')
  
  for i in range(len(date_tag)):
    result['date'].append(date_tag[i].text.strip())
  
  for j in range(0, len(num_tag), 3):
    result['종가'].append(num_tag[j].text.strip())
  for j in range(1, len(num_tag), 3):
    result['전일대비'].append(num_tag[j].img['alt']+num_tag[j].text.strip())
  for j in range(2, len(num_tag), 3):
    result['등락율'].append(num_tag[j].text.strip())

In [133]:
call_rate = pd.read_csv('./call_rate.csv')

In [330]:
call_rate.tail()

           date    종가    전일대비      등락율
3222 2005-01-11  3.28  상승0.01  + 0.31%
3223 2005-01-10  3.27  상승0.05  + 1.55%
3224 2005-01-07  3.22  상승0.01  + 0.31%
3225 2005-01-06  3.21  하락0.07   -2.13%
3226 2005-01-05  3.28  상승0.01  + 0.31%

In [182]:
import datetime as dt
call_rate['date'] = pd.to_datetime(call_rate['date'])

In [331]:
call_rate[:50]

         date    종가    전일대비       등락율
0  2017-12-29  1.58  상승0.03   + 1.94%
1  2017-12-28  1.55  상승0.04   + 2.65%
2  2017-12-27  1.51  하락0.01    -0.66%
3  2017-12-26  1.52  상승0.01   + 0.66%
4  2017-12-22  1.51  하락0.02    -1.31%
5  2017-12-21  1.53  상승0.02   + 1.32%
6  2017-12-20  1.51  상승0.01   + 0.67%
7  2017-12-19  1.50  보합0.00     0.00%
8  2017-12-18  1.50  하락0.01    -0.66%
9  2017-12-15  1.51  상승0.01   + 0.67%
10 2017-12-14  1.50  보합0.00     0.00%
11 2017-12-13  1.50  하락0.01    -0.66%
12 2017-12-12  1.51  하락0.01    -0.66%
13 2017-12-11  1.52  보합0.00     0.00%
14 2017-12-08  1.52  상승0.03   + 2.01%
15 2017-12-07  1.49  상승0.01   + 0.68%
16 2017-12-06  1.48  상승0.01   + 0.68%
17 2017-12-05  1.47  하락0.01    -0.68%
18 2017-12-04  1.48  보합0.00     0.00%
19 2017-12-01  1.48  하락0.05    -3.27%
20 2017-11-30  1.53  상승0.27  + 21.43%
21 2017-11-29  1.26  보합0.00     0.00%
22 2017-11-28  1.26  보합0.00     0.00%
23 2017-11-27  1.26  상승0.01   + 0.80%
24 2017-11-24  1.25  보합0.00     0.00%
25 2017-11-23  1.25  상승0.01   + 0.81%
26 2017-11-22  1.24  하락0.01    -0.80%
27 2017-11-21  1.25  보합0.00     0.00%
28 2017-11-20  1.25  상승0.01   + 0.81%
29 2017-11-17  1.24  보합0.00     0.00%
30 2017-11-16  1.24  보합0.00     0.00%
31 2017-11-15  1.24  보합0.00     0.00%
32 2017-11-14  1.24  하락0.01    -0.80%
33 2017-11-13  1.25  상승0.01   + 0.81%
34 2017-11-10  1.24  보합0.00     0.00%
35 2017-11-09  1.24  상승0.01   + 0.81%
36 2017-11-08  1.23  하락0.02    -1.60%
37 2017-11-07  1.25  상승0.02   + 1.63%
38 2017-11-06  1.23  하락0.01    -0.81%
39 2017-11-03  1.24  보합0.00     0.00%
40 2017-11-02  1.24  보합0.00     0.00%
41 2017-11-01  1.24  하락0.02    -1.59%
42 2017-10-31  1.26  상승0.03   + 2.44%
43 2017-10-30  1.23  하락0.01    -0.81%
44 2017-10-27  1.24  하락0.01    -0.80%
45 2017-10-26  1.25  상승0.01   + 0.81%
46 2017-10-25  1.24  보합0.00     0.00%
47 2017-10-24  1.24  보합0.00     0.00%
48 2017-10-23  1.24  보합0.00     0.00%
49 2017-10-20  1.24  보합0.00     0.00%

In [342]:
from dateutil.relativedelta import relativedelta

a_month_earlier = call_rate[['date']].copy()
a_month_earlier= a_month_earlier.date.apply(lambda x: x - relativedelta(months =1))

In [343]:
result = pd.merge(a_month_earlier, call_rate[['date','종가']], left_on='date', right_on='date',how='inner')

In [346]:
result

           date    종가
0    2017-11-29  1.26
1    2017-11-28  1.26
2    2017-11-27  1.26
3    2017-11-22  1.24
4    2017-11-21  1.25
...         ...   ...
1907 2005-01-18  3.25
1908 2005-01-17  3.25
1909 2005-01-14  3.26
1910 2005-01-11  3.28
1911 2005-01-07  3.22

[1912 rows x 2 columns]

In [328]:
call_rate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3227 entries, 0 to 3226
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3227 non-null   datetime64[ns]
 1   종가      3227 non-null   float64
 2   전일대비    3227 non-null   object
 3   등락율     3227 non-null   object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 101.0+ KB